<div style="width: 800px; overflow: hidden; float: left">
  {{#draggable-each context=lists}}
    <div style="width: 300px; float:left;">
    <h1>List {{id}}</h1>
    {{#draggable-each context=list handleSelector=".draggable-item-handle" itemWasMoved="itemWasMoved" itemView="apple" connectWith=".ember-drag-list"}}
      <div class="draggable-item-handle">X</div>
      {{apple-pie name=name}}
      parentView: {{view.parentView.elementId}}
      {{#pumpkin-pie}}
      {{id}} : {{name}} – parentView: {{view.parentView.elementId}}
      {{/pumpkin-pie}}
    {{/draggable-each}}
    </div>
  {{/draggable-each}}
</div>

{{#each lists}}
<div style="float: left;width: 300px;">
  <h1>list {{id}}</h1>
  <ul>
    {{#each list}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
</div>
{{/each}}
