{{#each}}
  <span>{{id}} - {{name}}</span>
{{/each}}
<hr>
{{length}}
{{#draggable-each itemWasMoved="itemWasMoved" itemView="apple"}}
  <div class="draggable-item-handle">X</div>
  {{apple-pie name=name}}
  {{#pumpkin-pie}}
    PUMKIN PIE {{id}} : {{name}}
  {{/pumpkin-pie}}
{{/draggable-each}}

