{{#each}}
  <span>{{id}} - {{name}}</span>
{{/each}}
<hr>
{{#draggable-each values=this}}
  {{#with this}}
    <div class="draggable-item">
      <div class="draggable-item-handle">X</div>
      {{apple-pie name=name}}
      {{#pumpkin-pie}}
        PUMKIN PIE {{id}} : {{name}}
      {{/pumpkin-pie}}
    </div>
  {{/with}}
{{/draggable-each}}

