{{#draggable-each values=this tagName='div' classNames='grid' itemWasMoved="itemWasMoved"}}
  <div>
    {{#apple-pi}}
      hi - {{id}} - {{name}}
    {{/apple-pi}}
    {{id}} - {{name}} - <button {{action "save" this}}> save</button>
  </div>
{{/draggable-each}}

<h1>not sorted</h1>
{{#each}}
  {{id}} - {{name}}
{{/each}}
<hr>

{{#each}}
  {{#apple-pi}}
    hi - {{id}} - {{name}}
  {{/apple-pi}}
{{/each}}


